body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #FFFFFF; /* Web sayfasının arka plan rengi */
    color: #000000; /* Metin rengi */
}

h1 {
    color: #FD98FB; /* Başlık rengi */
    font-size: 36px; /* Başlık yazı tipi boyutu */
    font-family: Inter-Medium, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}

h2 {
    color: #D6FF6B; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Inter-Medium , serif; /* Başlıkta kullanılan yazı tipi ailesi */
}

h3 {
    color: #5988FF; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Inter-Medium , serif; /* Başlıkta kullanılan yazı tipi ailesi */
}

@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h4 {
    animation: color-change 3s infinite;
}
h4:hover { animation: color-change 3s infinite; }

@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h5 {
    animation: color-change 3s infinite;
}
h5:hover { animation: color-change 3s infinite; }

@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h6 {
    animation: color-change 3s infinite;
}
h6:hover { animation: color-change 3s infinite; }
